* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  min-height: 100vh;
  color: white;
}

h1 {
  font-size: 3rem;
}

header,
form {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.8rem;
  font-size: 1.2rem;
  border: none;
  background: white;
}

form button {
  background-color: #afeeee;
  color: white;

  transition: all 0.5s ease;
  cursor: pointer;
}

form button:hover {
  background-color: #ff6699;
  color: #afeeee;
}

input {
  border-radius: 1rem 0 0 1rem;
}

input:focus {
  outline: none;
}

.todo-button {
  border-radius: 0 1rem 1rem 0;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style: none;
  min-width: 40%;
}

.to-do {
  display: flex;
  margin: 0.5rem;
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.to-do li {
  flex: 1;
}

.btn {
  margin: 0.3rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  border: none;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
}

.edit-btn {
  background-color: #4169e1;
}

.delete-btn {
  background-color: #ff4500;
}

.check-btn {
  background-color: #32cd32;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(1.5rem) rotateZ(45deg);
  opacity: 0;
}

select {
  border: none;
  outline: none;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.task-type {
  margin: 2rem;
}
